<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Angular/Ionic Project
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Angular/Ionic Project</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Hello!</strong>
    <p>My name is Zwe Paing Sett and I'm from Myanmar. Here is my <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/zwe-paing-sett-818208312/">LinkedIn Profile</a>.
    <br>
    I have over 3 years experience with Software Developer.
    <br>
    Feel Free to judge my design.
    </p>
    <ion-button fill="outline" (click)="routeToFirstPage()">First Page</ion-button>
  </div>


</ion-content>
