<ion-toolbar>
    <ion-buttons slot="start">
      <img src="assets/images/list.png" alt="Icon 1">
    </ion-buttons>
  <ion-title class="ion-text-center" color="tertiary">
    CRIOS <br>
    <span style="font-size: 80%; color: var(--ion-color-medium);">
      Free PSD Templates
    </span>
  </ion-title>
    <ion-buttons slot="end">
      <img src="assets/images/search.png" alt="Icon 2">
    </ion-buttons>
</ion-toolbar>

<ion-content>
  <div class="ion-padding" style="text-align: center;">
    <ion-text>
      <ion-title>
        Simple PSD template with cool stuff
      </ion-title>
       <br>
      <span style="font-size: 80%; color: var(--ion-color-medium);">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </span>
    </ion-text>

    <ion-button class="custom-button" size="medium" fill="clear" shape="round" expand="block" (click)="openModal()">
      Download PSD
    </ion-button>
  </div>

  <ion-img src="assets/images/landing-bg.png"></ion-img>

  <div style="margin-top: 20px; text-align: center;">
    <ion-text style="font-size: larger;">
      <span style="font-size: 80%; color: var(--ion-color-medium);">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </span><br>
      <ion-title>
        Lorem ipsum dolor sit amet
      </ion-title>
    </ion-text>
  </div><br><br>

  <ion-grid >
    <ion-row justify-content-center class="icon-row">
      <ion-col size="6" size-md="3" class="icon-col">
        <ion-img src="assets/images/c1.png" class="icon-img"></ion-img>
        <ion-text class="icon-text">
          <p>Lorem ipsum dolor sit amet</p>
          <span style="font-size: 80%; color: var(--ion-color-medium); text-align: center;">Suspendissue vel leo efficitur, venenatis est ut, tincidunt nibh</span>
        </ion-text>
      </ion-col>

      <ion-col size="6" size-md="3" class="icon-col">
        <ion-img src="assets/images/c2.png" class="icon-img"></ion-img>
        <ion-text class="icon-text">
          <p>Lorem ipsum dolor sit amet</p>
          <span style="font-size: 80%; color: var(--ion-color-medium); text-align: center;">Suspendissue vel leo efficitur, venenatis est ut, tincidunt nibh</span>
        </ion-text>
      </ion-col>

      <ion-col size="6" size-md="3" class="icon-col">
        <ion-img src="assets/images/c3.png" class="icon-img"></ion-img>
        <ion-text class="icon-text">
          <p>Lorem ipsum dolor sit amet</p>
          <span style="font-size: 80%; color: var(--ion-color-medium); text-align: center;">Suspendissue vel leo efficitur, venenatis est ut, tincidunt nibh</span>
        </ion-text>
      </ion-col>

      <ion-col size="6" size-md="3" class="icon-col">
        <ion-img src="assets/images/c4.png" class="icon-img"></ion-img>
        <ion-text class="icon-text">
          <p>Lorem ipsum dolor sit amet</p>
          <span style="font-size: 80%; color: var(--ion-color-medium); text-align: center;">Suspendissue vel leo efficitur, venenatis est ut, tincidunt nibh</span>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="ion-padding" style="margin-top: 20px; text-align: center;">
  <ion-button class="custom-button" size="medium" fill="clear" shape="round" expand="block" (click)="openModal()">
    Check Our Offer
  </ion-button>
  </div>

  <ion-grid style="margin-top: 50px;">
    <ion-row align-items-center class="content-row column-with-bg ">
      <ion-col size="6" class="content-col">
        <ion-img src="assets/images/ic1.png" class="content-img no-padding"></ion-img>
      </ion-col>
      <ion-col size="6" class="content-col">
        <ion-text class="content-text">
          <p>
            <ion-title>
              Lorem ipsum dolor
            </ion-title><br><br>
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
              Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh<br>
                Suspendisse lobortis lectus vel imperdiet ullamcorper.
            </span>
          </p>
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row align-items-center class="content-row column-with-bg ">
      <ion-col size="6" class="content-col">
        <ion-text class="content-text">
          <p>
            <ion-title>
              Lorem ipsum dolor
            </ion-title><br><br>
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
              Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh<br>
                Suspendisse lobortis lectus vel imperdiet ullamcorper.
            </span>
          </p>
        </ion-text>
      </ion-col>
      <ion-col size="6" class="content-col">
        <ion-img src="assets/images/ic2.png" class="content-img no-padding"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid >
    <ion-row class="content-row" style="margin-top: 50px;">
      <ion-col size="6" class="content-col">
        <div class="image-container">
          <ion-img src="assets/images/sn1-bg.png" class="background-img1"></ion-img>
          <ion-img src="assets/images/app1.png" class="foreground-img1"></ion-img>
        </div>
      </ion-col>
      <ion-col size="6" class="content-col">
        <ion-text class="content-text">
          <p>
            <ion-title style="color: #59d6ff;">
              Lorem ipsum dolor
            </ion-title><br><br>
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
              Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh<br>
                Suspendisse lobortis lectus vel imperdiet ullamcorper.
            </span>
          </p>
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row align-items-center class="content-row" style="margin-top: 150px;">
      <ion-col size="6" class="content-col">
        <ion-text class="content-text">
          <p>
            <ion-title style="color: #59d6ff;">
              Lorem ipsum dolor
            </ion-title><br><br>
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
              Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh<br>
                Suspendisse lobortis lectus vel imperdiet ullamcorper.
            </span>
          </p>
        </ion-text>
      </ion-col>
      <ion-col size="6" class="content-col">
        <div class="image-container">
          <ion-img src="assets/images/sn2-bg.png" class="background-img2"></ion-img>
          <ion-img src="assets/images/app2.png" class="foreground-img2"></ion-img>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid style="margin-top: 50px;">
    <ion-row>
      <ion-col size="6" class="column-with-bg">
        <div class="image-container1">
          <ion-img src="assets/images/Snowflake.png" class="background-img3"></ion-img>
          <ion-img src="assets/images/user-photo.png" class="foreground-img3"></ion-img>
        </div>
      </ion-col>

      <ion-col size="6" class="content-col column-with-bg">
        <ion-text class="content-text">
          <ion-title style="color: red;">
            Template is awesome
          </ion-title>
            <p>
            <br>
            <br>
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
              Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh<br>
                Suspendisse lobortis lectus vel imperdiet ullamcorper.<br>
                <br>
                John Doe
                <br>
                CEO at CRIOS.com
            </span>
          </p>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="ion-padding" style="margin-top: 20px; text-align: center;">
    <ion-text>
      <span style="font-size: 80%; color: var(--ion-color-medium);">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
       <br>
      <span class="header" >Lorem ipsum dolor sit amet</span>
    </ion-text>

    <ion-button class="custom-button" size="medium" fill="clear" shape="round" expand="block" (click)="openModal()">
      SYMU.CO/FREEBIES
    </ion-button>
  </div>
  <ion-img src="assets/images/footer-bg.png"></ion-img>
</ion-content>
