// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
$button-round-border-radius: 10px;
$button-round-padding-vertical: 8px;
$button-round-padding-horizontal: 16px;
